.card{
   width: 30%;
   min-width: 330px;
   height: 230px;
   padding: 1rem;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 2px 1px 9px 1px #9d9a9a;
   transition: background-color .5s ease-in-out;
}

.card:hover{
   background-color: #222f3e;
   color: #fff;
}

.card:hover button{
   border: 1px solid #fff;
}

.card span{
   display: block;
   margin-bottom: 15px;
   text-align: center;
   font-size: 30px;
}

.card h3{
   margin-bottom: 10px;
   text-align: center;
}

.card p{
   font-size: 15px;
   padding: 5px 0px;
}

.cardActions{
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin: 20px 0px;
}

.cardActions button{
   padding: 10px 15px;
   border: 1px solid transparent;
   background-color: #222f3e;
   border-radius: 20px;
   color: #fff;
   transition: background-color .3s ease-in-out;
   cursor: pointer;
 }
 
 .cardActions button:hover{
   background-color: #c8d6e5;
   color: #222f3e;
   border: 1px solid #222f3e;
   cursor: pointer;
 }
